{% extends "layout.html" %}
{% block content %}
    <h2>Submit a New Entry</h>
    <form action="{{ url_for('submit') }}" method=post>
        <p class="heading">Name: <input type=text name=name></p>
        <p class="heading">Description: <input type=text name=description></p>
        <p class="heading">Street Address: <input type=text name=street_address></p>
        <p class="heading">Type of Service: <input type=text name=type_of_service></p>
        <p class="heading">Phone Number: <input type=text name=phone_number></p>
        <p class="heading">Hours of Operation: <input type=text name=hours_of_operation></p>
        <p class="heading">Reviews:	<textarea rows=5 cols=50 name=reviews></textarea></p>
	<p><input type=submit value=Sign></p>
    </form>
{% endblock %}
